@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep any custom styles below the Tailwind directives */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate-spin-slow {
    animation: logo-spin infinite 20s linear;
  }
}
